html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #fff), color-stop(1.00, #8a8a8a));*/
    /*background: -webkit-linear-gradient(#ccc, #8a8a8a);*/
    background: -moz-linear-gradient(#ccc, #8a8a8a);
    background: -o-linear-gradient(#ccc, #8a8a8a);
    background: -ms-linear-gradient(#ccc, #8a8a8a);
    background: linear-gradient(#ccc, #8a8a8a);
}

button {
    width: 20%;
}

img.thumbnail_img {
    width: 150px;
    height: 150px;
}

img.thumbnail_img:hover {
    opacity: 0.9;
}

#url_collection {
    display: none;
}